body{

 background-image: url("./images/azize.jpg");
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #297a0e;
    border-radius: 20px;
    background: rgb(202 247 245 / 20%);
    box-shadow: 0 0 20px 0 rgba(230, 178, 178, 0.2), 0 5px 5px 0 rgba(206, 118, 118, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: Calibri;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(5, 92, 44);
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Calibri;
}


input[type=text], input[type=password]:hover {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
   
    box-sizing: border-box;
    border-radius: 20px;
  

}


input[type=submit] {
   text-decoration: none;
    display: block;
  
    padding-left: 3px;
  
    color: #ebe8e7;
   
   
    background: #0038fa ;
    font-size: 18px;
  
    font-style: normal;
 
   
    
    border-radius: 20px;
   
    border: 1px solid #e0f524;
    
    margin-bottom: 10px;
margin-top: 10px;




position: relative;
   
    padding: 19px 39px 18px 39px;

    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;

}
input[type=submit]:hover {
    background-color: rgb(12, 2, 17);
    color: #f7e582;
}